
html, body, #wrap{ height: 100%; width:100%;padding:0px; margin:0px;}
#main{
    padding:0px;
    margin:0px;
    background-image: url(images/whiteback.gif);
    display: inline-block;
}

.header {
    text-align: right;
    background:#000;
    color:#CCC;
    height:30px;	
}

.container_1 {
    width: 800px;
    height:630px;
    margin: 0 auto;
    margin-top: 10px;
    background-image:url(images/contentBackground.gif);
}

.container_2 {
    width: 800px;
    height:630px;
    margin: 0 auto;
    margin-top: 10px;
    background-image:url(images/contentBackground.gif);
}

.container_3 {
    width: 800px;
    height:630px;
    margin: 0 auto;
    margin-top: 10px;
    background-image:url(images/contentBackground.gif);
}
       
.inputContent_1 {
    width: 800px;
    height:250px;
    padding: 35px;
    padding-bottom:0px;
}

.inputContent_2 {
    width: 800px;
    height:250px;
    padding: 35px;
    padding-bottom:0px;
}

.inputContent_3 {
    width: 800px;
    height:250px;
    padding: 35px;
    padding-bottom:0px;
}

#warning_1{
	display:inline-block;
	vertical-align: middle;
	color:#E38038;
	display:none;
}

.writecode_1{
    padding-top:21px;
    padding-bottom:0px;
    float:left;
    color:#333;
}

.writecode_2{
    padding-top:21px;
    padding-bottom:0px;
    float:left;
    color:#333;
}

.writecode_3{
    padding-top:21px;
    padding-bottom:0px;
    float:left;
    color:#333;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-user-select: none;
       -moz-user-select: none;
	-ms-user-select: none;
	 -o-user-select: none;
	    user-select: none;
}

.btn-primary {
    color: #777;
    background-color: #428bca;

}

.loading_1{
padding-left:350px;
padding-top:100px;
}

.loading_2{
padding-left:350px;
padding-top:100px;
}

.loading_3{
padding-left:350px;
padding-top:100px;
}

.resultInfo{
	padding-left:200px;
	padding-top:100px;
}

.outputContent_1 {   
    width: 800px;
    height:300px;
    padding: 35px;
    padding-top: 0px;
    padding-bottom:0px;
    
}

.outputContent_2 {   
    width: 800px;
    height:300px;
    padding: 35px;
    padding-top: 0px;
    padding-bottom:0px;
    
}

.outputContent_3 {   
    width: 800px;
    height:300px;
    padding: 35px;
    padding-top: 0px;
    padding-bottom:0px;
    
}


.open .dropdown-toggle.btn-primary {
    color: #777;
    background-color: #3276b1;
}	
		
body {
	font-family:  "微软雅黑";
	font-size:14px;
	background-image: url(images/background.gif);
	margin:0;
	background-size:130% 130%;
	padding: 0;
	color: #000;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	font-family: "微软雅黑";
}
a img { 
	border: none;
}
a:link {
	color: #CCC;
	text-decoration: none; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}








.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}




.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}
.btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  


.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #777;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-primary {
  color: #777;
  background-color: #428bca;

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #777;
  background-color: #3276b1;
  
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}
textarea.form-control {
  height: auto;
}


.butonn{
	
	padding-top:15px;
	padding-bottom:5px;
	padding-left:20px;
	padding:10px;
	width:80%;
	float:left;
}


}.header p {
	top: 10px;
}

 .design {
	padding-top:5px;	
	padding-bottom:0px;
	width:32.5%;
	float:left;
}
	

    